*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.profile {
  background-color: beige;
  padding: 28px;
}
.profile * {
  margin: 8px;
}
